<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>


    

      <div class="row">
        <div class="col-md-6">
          
          <div class="card main-card mb-3">
            <div class="card-header">
              Recent Requests
            </div>
            <div class="card-body">
              <apx-chart
                [series]="[
                  {
                    name: 'Request',
                    data: [23, 43, 54, 12, 44, 52, 32, 11]
                  }
                ]"
                [xaxis]="{
                  type: 'datetime',
                  categories: ['01/01/2003', '02/01/2003', '03/01/2003', '04/01/2003', '05/01/2003', '06/01/2003', '07/01/2003', '08/01/2003']
                }"
                [chart]="{
                  height: '350',
                  type: 'line'
                }"
              ></apx-chart>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card main-card mb-3">
            <div class="card-header">
              Columns
            </div>
            <div class="card-body">
              <apx-chart
                [series]="[
                  {
                    name: 'Request',
                    data: [44, 55, 57, 56, 61, 58, 63]
                  }
                ]"
                [chart]="{
                  height: '350',
                  type: 'bar'
                }"
                [stroke]="{
                  show: true,
                  width: 2,
                  colors: ['transparent']
                }"
                [plotOptions]="{
                  bar: {
                    horizontal: false,
                    endingShape: 'rounded',
                    columnWidth: '55%'
                  }
                }"

                [dataLabels]="{
                  enabled: false
                }"

                [labels]= "['UCL', 'KCL', 'IC', 'SOAS', 'Birkbeck', 'Westminster', 'Birminham']"

                [xaxis]="{
                  categories: ['UCL', 'KCL', 'IC', 'SOAS', 'Birkbeck', 'Westminster', 'Birminham']
                }"
                [yaxis]="{
                  title: {
                    text: '$ (thousands)'
                  }
                }"

                [fill]="{
                  opacity: 1
                }"
              ></apx-chart>
            </div>
          </div>
          
        </div>
      </div>
      
  
    <ngb-tabset class="tabs-animated tabs-animated-shadow">
      <ngb-tab>
        <ng-template ngbTabTitle><span>University</span></ng-template>
        <ng-template ngbTabContent>
            <app-dynamic></app-dynamic>
          
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle><span>Staff</span></ng-template>
        <ng-template ngbTabContent>
            <app-staff></app-staff>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    



