<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
    <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-body">
              <div class="position-relative form-group">
                  <label for="exampleAddress">State</label>
                  <input name="address" id="exampleAddress" placeholder="Pending" type="text" disabled="disabled" class="form-control">
              </div>
          </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Proposer Information</h5>
                <form>
                    <div class="position-relative form-group">
                        <label for="exampleAddress">First Name</label>
                        <input name="address" id="exampleAddress" placeholder="Pending" type="Alex" class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleAddress">Second Name</label>
                        <input name="address" id="exampleAddress" placeholder="Filex" type="Alex" class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleAddress">Email</label>
                        <input name="address" id="exampleAddress" placeholder="example@ucl.ac.uk" type="Alex" class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleAddress">Job Name</label>
                        <input name="address" id="exampleAddress" placeholder="Professor" type="Alex" class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <label for="exampleAddress">University</label>
                        <input name="address" id="exampleAddress" placeholder="Univerity College London" type="Alex" class="form-control">
                    </div>
                </form>
            </div>
        </div>
</div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Event Infomation</h5>
                    <form>

                        <div class="position-relative form-group">
                            <label for="exampleCustomSelectDisabled">Event Type</label>
                            <select type="select" id="exampleCustomSelectDisabled" name="customSelect" disabled="disabled" class="custom-select">
                                <option value="">Select</option>
                                <option>Value 1</option>
                                <option>Value 2</option>
                                <option>Value 3</option>
                                <option>Value 4</option>
                                <option>Value 5</option>
                            </select>
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleAddress">Number of Participants</label>
                            <input name="address" id="exampleAddress" placeholder="132" type="Alex" class="form-control">
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleAddress">Address Line 1</label>
                            <input name="address" id="exampleAddress" placeholder="Room 413, Roberts Building" type="Alex" class="form-control">
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleAddress">Address Line 2</label>
                            <input name="address" id="exampleAddress" placeholder="Gower Street" type="Alex" class="form-control">
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleAddress">Address Line 3</label>
                            <input name="address" id="exampleAddress" placeholder="WC1N 1ST" type="Alex" class="form-control">
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="exampleCity">Post code</label>
                                    <input class="form-control" id="exampleCity" name="city" type="text">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="exampleState">City</label>
                                    <input class="form-control" id="exampleState" name="state" type="text">

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="position-relative form-group">
                                    <label for="exampleZip">Town</label>
                                    <input class="form-control" id="exampleZip" name="zip" type="text">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="d-block text-right card-footer">
                    <button class="mr-2 btn btn-link btn-sm">Back</button>
                    <button class="btn btn-success btn-lg">Confirm</button>
                </div>
            </div>
        </div>
        </div>